{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{% static 'chatclin_est.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo"><a href="{% url 'clinc' %}">natal<span>care</span></a></div>
        <span id="prfl-login">
            {% if request.user.clinica %}
                <button class="login-button" id="usu">{{request.user.clinica}}</button>
                <div class="menu-panel" id="menuPanel">
                    <section id="menuh">
                        <a href="{% url 'clinc' %}">
                            <section id="opc"><h4>Menu</h4></section>
                        </a>
                        <a href="{% url 'clined' %}">
                            <section id="opc"><h4>Perfil</h4></section>
                        </a>
                        <a href="{% url 'chatclin' %}">
                            <section id="opc"><h4>Agendamento</h4></section>
                        </a>
                        <a href="{% url 'logoutu' %}">
                            <section id="opc"><h4>Sair</h4></section>
                        </a>
                    </section>
                </div>
                <button class="menu-button" onclick="toggleMenuPanel()"><img src="{% static 'imagens_site/menu-img.png' %}" alt="" height="50px" width="50px"></button>
            {% endif %}
        </span>
    </header>

    <main>
        {% if conv_iniciada %}
            <section id="conversas">
                <h1>Conversas</h1>

                {% for i in conv_iniciada %}
                    <a href="{% url 'prochatclin' i.usuario.id %}" id="convs">
                        <h2>{{i.usuario.nome}}</h2>
                    </a>
                {% endfor %}

            </section>

            {% if conversa %}
                <section id="chat">
                    <section id="nome-clin">
                        <h1>{{conversa.usuario.nome}}</h1>
                    </section>

                    <section id="area-chat">
                        {% for i in conversa.mensagens_set.all %}
                            {% if i.remetente.username == request.user.clinica.nome %}
                                <section id="clinmen"><p id="clinmens">{{i.mensagem}}</p></section>
                            {% else %}
                                <section id="usumen"><p id="usumens">{{i.mensagem}}</p></section>
                            {% endif %}
                        {% endfor %}
                    </section>

                    <form id="digitex" action="{% url 'prochatclin' conversa.usuario.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="mens" id="" placeholder="Digite sua mensagem...">
                        <input type="submit" name="" id="">
                    </form>
                </section>
            {% endif %}
        {% else %}
            <p id="nao-conv">Clínica não possui conversas de agendamento</p>
        {% endif %}
    </main>

    <footer class="footer">
        <div class="footer-menu">
            <ul>
                <li><strong>Início</strong><br>Home<br>Login<br>Cadastro</li>
                <li><strong>Sobre nós</strong><br>Informações<br>Contato</li>
                <li><strong>Suporte</strong><br>FAQ<br>Chat</li>
            </ul>
        </div>
        <div class="footer-logo">
            <p class="brand-name">natalcare</p>
            <p class="brand-slogan">Sua pesquisa acaba aqui!</p>
        </div>
        <div class="footer-social">
            <!-- LinkedIn SVG -->
            <a href="#" title="LinkedIn">
                <img src="{% static 'imagens_site/linkedin.svg' %}" alt="">
            </a>
            <!-- Instagram SVG -->
            <a href="#" title="Instagram">
                <img src="{% static 'imagens_site/instagram.svg' %}" alt="">
            </a>
            <!-- Facebook SVG -->
            <a href="#" title="Facebook">
                <img src="{% static 'imagens_site/facebook.svg' %}" alt="">
            </a>
            <!-- Twitter SVG -->
            <a href="#" title="Twitter">
                <img src="{% static 'imagens_site/x.svg' %}" alt="">
            </a>
        </div>
    </footer>


    <script>
        function toggleMenuPanel() {
            var panel = document.getElementById("menuPanel");
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    </script>
</body>
</html>